/*
:root {
  --background: rgba(255, 255, 155, 1);
  --black: rgba(155, 155, 255, 1);
}
*/

@font-face {
	font-family: 'AmbidexterWebRegular';
	src:
		url('../fonts/Ambidexter_Regular.woff2') format('woff2'),
		url('../fonts/Ambidexter_Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  cursor: none;
  overflow: hidden;
  background-color: #193723;
}

h1 {
  display: flex;
  margin: 0;

  position: absolute;
  top: 2vh;
  left: 1vw;
  
  z-index: 200;
  
  font-family: 'AmbidexterWebRegular', Helvetica, Arial, sans-serif;   
  color: #E6DCC8;
  font-size: 7vw;
  line-height: 6vw;
  }

::selection {
  background-color: #E6DCC8;
  color: #193723; 
}

ul {
  margin: 0;
  padding: 0;
      display: flex;
  position: fixed;
  list-style-type: none;
  top: 10vh;
  left: 5vw;
  font-size: 10rem;
}


.cursor {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
/*  z-index: 100;*/
}

.mail {
  position: fixed;
  margin: 0;
  bottom: 10vh;
  right: 5vw;
}

a {
  cursor: none;
}

a:link {
  color: #E6DCC8;
}

/* visited link */
a:visited {
  color: #E6DCC8;
}

/* mouse over link */
a:hover {
  color: hotpink;
  background-color: skyblue;
}

/* selected link */
a:active {
  color: skyblue;
  background-color: hotpink;
}